/*------------- Fonts --------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*-------------- Common area --------- */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 130px;
}



 /* ==================================
       Head banner style section
    ================================= */
.head-banner-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.head-banner{
    background-color: #161616;
    display: flex;
    align-items: center;
    width: 80%;
    height: 646px;
    color: white;
    padding: 0 0 0 50px;
    border-radius: 10px;
    
}
.head-banner-info h1{
    font-weight: 700;
    font-size: 50px;
    height: 240px;
    margin: 0;
    padding-bottom: 20px;
}
.head-banner-info p{
    font-weight: 400;
    font-size: 16px;
    height: 78px;
    width: 506px;
    margin: 0px;
    padding-bottom: 30px;
}
.head-banner-button{
    background-color: #E02C6D;
    width: 187px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: transform 1s linear;  
}
.head-banner-button:hover {
    transform: scale(1.25);
    background-color: lightseagreen;
}
.head-banner-button a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    color: white;   
}

.head-banner-button img{
    padding-top: 5px;
}
.head-banner-img img{
    width: 490px;
    height: 613px;
    margin-top: 33px;
}


/**********************************
         Blog section styles  
***********************************/
.blogs-container{
    width: 85%;
    margin-left: 7.5%;
    border-radius: 5px;
}
.blogs-info{
    display: flex;
    justify-content: space-between;
}

/* ------blogs naigation area------  */
.blogs-nav-area{
    width: 250px;
    height: 312px;
    margin-right: 24px;
}
.blogs-nav{
    background-color: #161616;
    height: 252px;
    padding: 30px;
    border-radius: 10px;
}
.single-nav{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 30px;   
}
.single-nav.white{
    background-color: white; 
}
.single-nav.white a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
}
.single-nav.color{
    background-color: tomato;
}
.single-nav.color a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
}
/* ---------blogs area ------------ */

.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.blog{
    width: 250px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.blog-img img{
    width: 100%;
    height: 175px;
    border-radius: 10px;
}
.blog-info{
    padding: 20px;
}
.blog-button{
    width: 100px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #161616;
    border-radius: 5px;
}
.blog-button a{
    color: darkslategrey;
    text-decoration: none;
    font-size: 16px;
    padding: 4px 16px;
}
.blog h3{
    font-size: 13px;
    font-weight: 600;
    height: 54px;
    color: #161616; 
    margin: 15px 0 20px;
}
.blog-icon{
    display: flex;
    justify-content: space-between;
    width: 143px;
    height: 26px;
}
.blog-icon img{
    margin-right: 10px;
}
.blog-icon-clock, .blog-icon-chat{
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}


/*------------------Upcoming-matches page style section------------------
==========================================================================  */
.matches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.match{
    width: 250px;
    height: 200px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.match-detail{
    border-radius: 2px;
    
 
}

.match-img{
    display: flex;
    justify-content: space-between;
    flex-grow: 20px;
}
.flag{
    width: 93.04px;
    height: 56.18px;
}
.match-img h2{
    font-size: 15px;
    padding: 0 5px;
}
.match-title h3{
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 20px 0 10px;
}
.match-time p{
    text-align: center;
    margin: 0;
}


/*========================== tab/tablet spesial=========================  */
.viewall-container{
    display: flex;
    justify-content: center;

}
.viewall{
    background-color: #E02C6D;
    width: 187px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.viewall a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    color: white;
}



/* -------------------------------------
          Footer section styles
------------------------------------------*/
footer{
    width: 100%;
    padding-top: 200px;
    background-color: #161616;
}
.footer-info{
    height: 500px;
    color: white;
}
.footer-heading h2{
    font-size: 40px;
    text-align: center;
    margin: 0 0 50px;
}
.footer-line hr{
    width: 900px;
    border: 1px solid rgba(255, 255, 255, 0.1);

}
.footer-nav{
    display: flex;
    justify-content: space-between;
    width: 800px;
    color: #B9B9B9;
    font-weight: 500;
    margin-left: 200px;
}
.footer-icon{
    width: 100px;
    text-align: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 45%;
}
.footer-icon a{
    color: lightpink;
    padding: 5px;
}



/*=====================================
            Media query section
========================================*/

/*-------- mobile devices  */

@media only screen and (max-width:667px) {

    .container {
        margin-bottom: 50px;
    }
    .viewall-container {
        display: none;
    }
    .head-banner{
        flex-direction: column;
        
        width: 100vw;
        height: 100vh;
        padding: 0;
        text-align: center;
    }
    .head-banner-info p{
        width: 90vw;
    }
    .head-banner-button{
        margin-left: 20%;
    }
    .head-banner-img img{
        width: 100vw;
        height: 100%;
        margin-top: 15px;
    }
    .blogs-container {
        border-radius: 5px;
        width: 100vw;
        margin: 0; 
    }
    .blogs-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blogs-nav-area{
        margin: 0;
    }
    .blogs-nav {
        height: 252px;
        border-radius: 10px;
        background-color: white;
        padding: 0;
    }
    .single-nav{
        border: 1px solid grey;
        border-radius: 10px;
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
    .matches{
        grid-template-columns: repeat(1, 1fr);
    }
    .match{
        width: 100vw;
    }
    .match-detail {
        border-radius: 5px;
        width: 60vw;
    }
    footer {
        width: 100vw;
        height: 100vh;
        padding-top: 50px;
        border-radius: 10px;
    }
    .footer-line hr {
        width: 80vw;
    }
    .footer-nav {
        display: flex;
        width: 100vw;
        margin: 0;
        flex-direction: column;
        text-align: center;
    }
    .footer-icon {
        width: 100vw;
        text-align: center;
        margin-top: 50px;
        margin-left: 0;
    }
}


/* tab devices  */
@media only screen and (min-width:668px) and (max-width:992px) {
 
    .container {
        margin-bottom: 50px;
    }
    .head-banner{      
        width: 100vw;
        padding: 0;
        text-align: center;
    }
    .head-banner-info p{
        width: 50vw;
    }
    .head-banner-img img{
        width: 100%;
        margin-top: 15px;
    }
    .blogs-container {
        border-radius: 5px;
        width: 100vw;
        margin: 0;
}
    .blogs-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blogs-nav-area{
        width: 100vw;
        height: 100%;
    }
    .blogs-nav {
        background-color: white;
        height: 100%;
        padding: 30px;
        display: flex;
        column-gap: 20px;
    }
    .single-nav {
        width: 80vw; 
        margin-bottom: 0;
        border: 1px solid grey;
    } 
    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }
    .blog{
        width: 40vw;
    }
    footer {
        width: 100vw;
        height: 100%;
        padding-top: 50px;
        border-radius: 10px;
    }
    .footer-line hr {
        width: 80vw;
    }
    .footer-nav {
        width: 90vw;
        margin: 0;
        text-align: center;
    }
}


/* desktop/laptop devices  */
@media only screen and (min-width:993px) {
    .viewall-container{
        display: none;
    } 

}